.buttonC{
    background-color: white;
    color:blue;
    float: inline-end;
    margin-bottom: 10rem;
}

.buttonC:hover{
    box-shadow: 2rem 2rem 2rem 2rem rgba(0,0,0,0.2);
}

.filterC{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}